.khan {color:blue; font-size:60px; font-family:Matura MT Script Capitals; }
p{font-family:French Script MT; font-size:25px;}
#special{font-family:Edwardian Script ITC; font-size:30px; color:red; border:10pt;}
p img{border:4px dashed #000;  margin-left:40%; }

